//workstation
.workstation-gen{
    margin-top: -4%;
}
.workstation-gen-left ul{
    list-style-type: none;
    }
.workstation-gen-right{
    text-align: right;
    margin-top: -2%;
    }

.workstation-gen-left ul li{
        float: left;
        margin-right: 10%;
    }
.workstation-gen-left h1{
    color: #000000;
    font-weight: bold;
    margin-left: -26%;
}
.work-active{
    background-color: #fa8003;
    color:#ffffff;
    text-decoration: none;
    border-radius: 15px;
  }
    .workstation-gen-left-li a{
    color: grey;
    padding: 5% 35% 5% 35%;
    font-family:Cormorant;
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
    }
    .workstation-gen-left-li a:hover{
        background-color: #fa8003;
        color:#ffffff;
        border-radius: 15px;
        text-decoration: none;
      }

      .work-station-table{
        width: 100%;
        margin-top: 5%;
      }
      .work-station-table th,.work-station-table td{
      margin-right: 14%;
      border-left: 1px solid grey;
      }

    .work-station-table th{
        font-weight: bold;
        color:grey;
        margin-bottom:1%;
    }
      .work-station-table td{
          font-weight: bold;
          color:#000000;
          margin-top:1%;
      }
#workstation-gen-right-search-img{
    width: 18%;
}

#workstation-gen-right-online-img{
    width: 18%;
}

#workstation-gen-right-phone-img{
    width: 18%;
}
#Stock-img,#Activity-img,#Clients-img,#Time-img{
    width: 10%;
}
.workstation-gen-left ul{
    text-decoration: none;
}
.workstation-lead{
    margin-top: 5%
}
.workstation-lead-name{
    background: -moz-linear-gradient(left, rgba(255,164,128,1) 0%, rgba(255,128,134,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,164,128,1)), color-stop(100%, rgba(255,128,134,1))); background: -webkit-linear-gradient(left, rgba(255,164,128,1) 0%, rgba(255,128,134,1) 100%); background: -o-linear-gradient(left, rgba(255,164,128,1) 0%, rgba(255,128,134,1) 100%); background: -ms-linear-gradient(left, rgba(255,164,128,1) 0%, rgba(255,128,134,1) 100%); background: linear-gradient(to right, rgba(255,164,128,1) 0%, rgba(255,128,134,1) 100%); ﬁlter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa480', endColorstr='#ff8086', GradientType=1 );
    border-radius: 35px;
}
.workstation-lead-h1{
    color: #ffffff;
    font-weight: bold;
}
.workstation-lead p{
    color: #ffffff;
}
.workstation-lead-stock{
    background: rgba(159,204,226,1); background: -moz-linear-gradient(left, rgba(159,204,226,1) 0%, rgba(4,149,240,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(159,204,226,1)), color-stop(100%, rgba(4,149,240,1))); background: -webkit-linear-gradient(left, rgba(159,204,226,1) 0%, rgba(4,149,240,1) 100%); background: -o-linear-gradient(left, rgba(159,204,226,1) 0%, rgba(4,149,240,1) 100%); background: -ms-linear-gradient(left, rgba(159,204,226,1) 0%, rgba(4,149,240,1) 100%); background: linear-gradient(to right, rgba(159,204,226,1) 0%, rgba(4,149,240,1) 100%); ﬁlter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fcce2', endColorstr='#0495f0', GradientType=1 );
    border-radius: 35px;
}
.workstation-lead-activity{
    background: rgba(221,192,241,1); background: -moz-linear-gradient(left, rgba(221,192,241,1) 0%, rgba(160,117,209,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,192,241,1)), color-stop(100%, rgba(160,117,209,1))); background: -webkit-linear-gradient(left, rgba(221,192,241,1) 0%, rgba(160,117,209,1) 100%); background: -o-linear-gradient(left, rgba(221,192,241,1) 0%, rgba(160,117,209,1) 100%); background: -ms-linear-gradient(left, rgba(221,192,241,1) 0%, rgba(160,117,209,1) 100%); background: linear-gradient(to right, rgba(221,192,241,1) 0%, rgba(160,117,209,1) 100%); ﬁlter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddc0f1', endColorstr='#a075d1', GradientType=1 );
    border-radius: 35px;
}
.workstation-lead-time{
    background: rgba(101,215,207,1); background: -moz-linear-gradient(left, rgba(101,215,207,1) 0%, rgba(111,148,211,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(101,215,207,1)), color-stop(100%, rgba(111,148,211,1))); background: -webkit-linear-gradient(left, rgba(101,215,207,1) 0%, rgba(111,148,211,1) 100%); background: -o-linear-gradient(left, rgba(101,215,207,1) 0%, rgba(111,148,211,1) 100%); background: -ms-linear-gradient(left, rgba(101,215,207,1) 0%, rgba(111,148,211,1) 100%); background: linear-gradient(to right, rgba(101,215,207,1) 0%, rgba(111,148,211,1) 100%); ﬁlter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65d7cf', endColorstr='#6f94d3', GradientType=1 );
    border-radius: 35px;
}
.workstation-lead-card-header{
    /* border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; */
    border-bottom: 1px solid #ffffff;
    border-bottom-width: -24%;
    width: 75%;
    margin-left: 10%;
    color:#ffffff;
    background: transparent;
}
.work-station-lead-interation{
    margin-top: 10%;
}
