@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.rubik {
  font-family: 'Rubik', sans-serif !important;
}
body {
  letter-spacing: 0.05em;
}
.hide {
  display:none !important;
}
.logo{
    margin: 2% 0% 2% 4%;
}
#top-landing-btn {
    color: #000;
    font-family: Cormorant;
    background: linear-gradient(to right, rgba(255,129,51,1) 0%,  rgba(255,147, 58,1) 100%) !important;
    border-radius: 5px;
    line-height: 1;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 1rem 1.5rem;
    margin: 0% 0% 0% 20%;
    border: none;
    box-shadow: 0px 0px 10px -10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 10px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px -10px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 0px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
  }
  
  #top-landing-btn:hover {
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -10px) scale(1);
    text-decoration: none;
  }
  
  .container {
      max-width: 100%;
    }
.left-side{
    background-image: url('/images/Sign_In/Assests/Left-Background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #F38912 !important;
}
.left-side img {
  max-width:70%;
  height:auto;
  position: absolute;
  top: 39%;
  left: 15%;
}
/* #top-landing-logo {
    width: 30%;
} */
.lp-logo {
  width: 11.31vw!important;
}
.logo-title {
  color: #F38912;
  font-size: 4.01vw;
}
#navbarSupportedContent{
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 6px;
}
#sign-in-watermark{
    width: 75%;
    margin: 28% auto 0 auto;
    display: block;
}
.btn{
    margin: 9px;
    border-radius: 5px !important;
}
.auth-buttons .col-lg-7{
    max-width: 374px;
}
.auth-buttons a{
  font-family: 'Cormorant', serif;
}
.btn-primary {
  color: #fff;
  background: linear-gradient(to right, rgba(255,129,51,1) 0%,  rgba(255,147, 58,1) 100%) !important;
  border-color: transparent !important;
  border-radius: 50rem!important;
}
.submit-btn {
  font-family: 'Lato light', sans-serif !important;
}
.outer-login-container {
  position: relative;
  height: 100% !important;
} 
.inner-login-container {
  position: absolute;
  top: 47%;
  -ms-transform: translateY(-50%);
  /* transform: translateY(-50%); */
  right: 0;
}
.mt-10 {
  margin-top: 10% !important;
}

@media screen and (max-width: 992px) {
.outer-login-container {
  height: 25% !important;
}
  .inner-login-container {
    top: 3% !important;
  }
}
#auth .card{
  border: none !important;
  box-shadow : none !important;
  -webkit-box-shadow : none !important;
  -moz-box-shadow : none !important;
  -o-box-shadow : none !important;
}
.sidebar a p{
  color: #fff !important;
}
.content-wrapper {
  background: #fff !important;
}

.close {
    position: absolute;
    right: -13px;
    top: -3px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: transparent;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .v-dropdown-item {
    line-height: 10px !important;
  }
  
.v-select-toggle {
  border-radius: 50rem !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #fff !important;
  border: none!important;
  width: 200px !important;
  padding:11px 17px!important;
} 
.v-bs-searchbox::-webkit-input-placeholder  {
  font-size: 11px !important;
  font-family: 'Rubik', sans-serif !important;
  color: rgba(0, 0, 0, 0.65) !important;
  letter-spacing: 0 !important;
}

.v-dropdown-container, .v-select-toggle:focus {
  border-radius: 14px !important;
  width: 200px !important;
}

.v-select-toggle:focus {
  outline: 0 !important;
}


/* Transitions */
.bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  /* Transitions */

  /* Right SideBar */
  #search-panel .search div.search label{
    float:left;    
    color: #8d9198;
    margin: 4px 4px 0 0;
    padding: 0;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  #search-panel  .search div.search input{
    color: #8d9198;
    float: left;
    border: 1px solid #d9d9db;
    padding: 3px 20px 12px;
    border-radius: 25px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    margin-top: 3px;
    letter-spacing: 1px;
    font-size: 11px;
    box-shadow: 0px 1px 8px 0px #ced4da;
    -webkit-box-shadow:0px 1px 8px 0px #ced4da;
    -moz-box-shadow: 0px 1px 8px 0px #ced4da;
    -o-box-shadow: 0px 1px 8px 0px #ced4da;
  }
  #search-panel p.heading{
    margin: 1px 0 19px;
    font-weight: 100;
    font-size: 11px;
  }
  #search-panel .form-control{    
    border-radius: 25px;
    padding: 7px;
    height: 28px !important;
    font-size: 9px;
  }
  #search-panel .tg{
    width:100%;
  }
  #search-panel .tg .tg-0las {    
    width: 55%;
    display: block;
  }
  #search-panel .tg .tg-0las p.heading {
    margin: 0 0 20px 0;
    color:#000;
  }
  #search-panel .tg .tg-0lax {
    width: 30%;
  }
  #search-panel .tg .tg-1lax {
    width: 50%;
  }
  #search-panel td.tg-0lax p.heading{
    border: none;
    margin: 0;
  }
  #search-panel td #title{
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-right: none;
  }
  /* End Right Sidebar */

.filter-card{
  margin-right: 15px;
  cursor: pointer;
}
.filter-card strong{
  margin-left: 29px;
}
/*auth nav styling*/
#auth .navbar-nav.ml-auto li a{
  font-weight: 300;
  color: rgba(1,52,73,0.5)!important;
}
/*end auth nav styling*/
/*auth buttons styling*/
.activeBtn{
  /* border-bottom: 1px solid #fff!important; */
  color: #F28821!important;
  font-size: 26px !important;
  font-family: 'Rubik', sans-serif !important;
  background-image: url('/images/Sign_In/Assests/White-space.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  left: 30%;
  height: 84px;
}
 .btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
}
.inactiveBtn{
  color: #F2F2F2!important;
  font-size: 26px !important;
  font-family: 'Rubik', sans-serif !important;
  position: relative;
  left: 30%;
  height: 84px;
}
/*end auth buttons styling*/

/*login right sidebar*/
.right-side .col-10 .auth-buttons.login{
  margin-top:35%;
}
.right-side .form-control {
  font-size:0.83vw;
}
.right-side .terms-text.custom-control-label{
  font-size:0.73vw;
}
.login .btn-primary{
  font-family: 'Cormorant', serif;
    text-transform: uppercase;
}
.pwd-link {
  color: #F38912 !important;
  text-align: right !important;
  text-decoration: underline !important;
}
.copyright {
  font-family: 'Lato Light', sans-serif !important;
  color: #003B53 !important;
  font-size: 0.78vw;
}
.copyright-divider {
  margin-top: 5%;
  margin-bottom:5%;
}
/* @media screen and (min-width: 1440px) {
  .right-side .col-10 .auth-buttons.login{
    margin-top:65%;
  }
} */
.right-side .col-10 .login, .right-side .col-10 .register{
  max-width:50%;
}
/*register right sidebar*/
.right-side .col-10 .auth-buttons.register{
  margin-top:10%;
}
@media screen and (min-width:1440px) {
  .right-side .col-10 .auth-buttons.register{
    margin-top:40%;
  }
}
.center {
  text-align: center;
}
.right {
  text-align: right !important;
}
.left {
  text-align: left !important
}
.omni-shadow {
  box-shadow: 0px 1px 6px rgba(0,0,0,0.1)!important;
  -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.1)!important;
  -moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.1)!important;
  -o-box-shadow: 0px 1px 6px rgba(0,0,0,0.1)!important;
  border: 1px solid #eee!important;
}
.form-group {
  margin-bottom: 1.3rem!important;
}
.form-control {
  height: auto!important;
  padding: 0.75rem!important;
}

select.form-control, input.form-control {
  border-radius: 10px;
  padding: 5px !important;
  height: 33px !important;
}

.v-bs-searchbox input.form-control {
  height: 25px !important;
}
select.form-control:focus, input.form-control:focus {
  outline: 0 !important;
  border: 0!important;
}

.terms {
  color: #F28821 !important;
  font-family: 'Lato', sans-serif !important;
  font-size:0.73vw!important;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400 !important;
}
.custom-checkbox .custom-control-label::before {
  background-color: white !important;
  border-radius: 0px !important;
}

.ant-col-8 .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #F28821 !important;
}
/*end Register Stepper*/
/*vc calendar styling*/
.vc-header {
  padding-left: 0!important;
  padding-right: 0!important;
  margin-bottom: 3.3%;
}
.vc-title-wrapper .vc-title {
  font-family: 'Rubik', sans-serif;
  font-size: 0.68vw;
  letter-spacing: 0.05em;
  color: rgba(28, 35, 49, 0.5);
}
.vc-grid-container {
  padding: 0!important;
}
.vc-svg-icon {
  color: rgba(28, 35, 49, 0.5);
}
.vc-day .vc-h-full {
  padding:2.5%;
}
.vc-weekday.vc-text-sm.vc-font-bold.vc-text-gray-500{
	color: #1e2331;
	font-size: 0.53vw;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
.vc-day-content.vc-font-medium{
  font-family: Montserrat, sans-serif;
  color: #1e2331;
  font-size: 0.58vw;
  font-weight:400;
}
.vc-rounded-full {
	border-radius: 50%!important;
}
.vc-highlight{
  background-color: #fff!important;
  border-radius: 50% !important;
}
.vc-bg-blue-600 {
  border: 2px solid #ff931e !important;
  padding:14px;
}
.vc-bg-orange-200 {
  background-color: rgba(238, 244, 241, 0.5)!important;
}
.vc-bg-orange-600:nth-of-type(1) {
  border: 2px solid #FF933A;
  padding:19px;
}

.add-box-shadow .ant-card-head-title {
  font-size: 0.83vw;
}

.add-box.shadow .ant-card-head div {
  border-bottom: 0;
}


.ant-calendar {
  border-radius: 25px;
}
.ant-calendar-selected-date .ant-calendar-date, .ant-calendar-date:active {
  background: #ff931e!important;
  color:#fff!important;
  border-radius: 50%;
}
.ant-calendar-today .ant-calendar-date {
  border-color: #ff931e!important;
  color: #ff931e!important;
  border-radius: 50%;
}
.ant-time-picker-icon, .ant-calendar-picker-icon.anticon.anticon-calendar {
  display:none;
}
.ant-calendar.ant-calendar-picker-container-content, .ant-time-picker-panel-inner.ant-time-picker-panel-content {
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.ant-calendar-input-wrap, .ant-calendar-footer {
  display:none;
}

::-webkit-scrollbar {
  width: 3px;
  height:3px;
  right: 5px;
}
::-webkit-scrollbar-track {
  background: #f0f0f1;
}
::-webkit-scrollbar-thumb {
  background: #002e3f; 
  border-radius:10px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}
@media (min-width: 992px) {
  .sidebar-mini.sidebar-collapse #content-wrapper.content-wrapper {
    margin-left: 56px!important;
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .main-footer,
  .sidebar-collapse .main-header {
    transition: margin-right 0.5s ease-in-out;
    margin-left: 56px!important; 
    margin-right: 7.95%;
  }
}

@media (min-width: 768px) {
  .content-wrapper,
  .main-footer,
  .main-header {
    transition: margin-right 0.5s ease-in-out;
    margin-left: 56px!important; 
    margin-right: 16.718%;
  }
}

/* .sidebar-menu {
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
} */

.sidebar-collapse .main-sidebar .sidebar .sidebar-menu .closed-sidenav {
  transition: display 0.3s ease-in-out;
  max-width: 180px;
  display: block!important;
}
.sidebar-collapse .main-sidebar .sidebar .sidebar-menu .open-sidenav {
  transition: display 0.5s ease-in-out;
  display: none!important;
}
.closed-sidenav .nav-tabs, 
.reminders .nav-tabs{
  border-bottom: 0!important;
}
.closed-sidenav .nav-tabs .nav-link, 
.nav-tabs .nav-link.active, 
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  border: 0!important;
}
.closed-sidenav .nav-tabs .nav-link {
  font-size: 18px;
}
.closed-sidenav .nav-tabs .nav-link[aria-selected="true"][aria-posinset="1"] {
  box-shadow: 10px -10px 10px #f5f5f5;
  -webkit-box-shadow: 10px -10px 10px #f5f5f5;
  -moz-box-shadow: 10px -10px 10px #f5f5f5;
  -o-box-shadow: 10px -10px 10px #f5f5f5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
 
}
.closed-sidenav .nav-tabs .nav-link {
  font-size: 16px;
  color: #171717 !important;
  font-family: 'Rubik', sans-serif !important;
  text-align: center;
}

.reminders .nav-tabs .nav-link[aria-selected="true"][aria-posinset="1"] {
  box-shadow: 20px -10px 34px -25px rgba(131,131,131,1);
  -webkit-box-shadow: 20px -10px 34px -25px rgba(131,131,131,1);
  -moz-box-shadow: 20px -10px 34px -25px rgba(131,131,131,1);
  -o-box-shadow: 20px -10px 34px -25px rgba(131,131,131,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.closed-sidenav .nav-tabs .nav-link[aria-selected="false"][aria-posinset="1"], 
.reminders .nav-tabs .nav-link[aria-selected="false"][aria-posinset="1"]{
  box-shadow: inset 1px -10px 10px #f5f5f5;
  -webkit-box-shadow: inset 1px -10px 10px #f5f5f5;
  -moz-box-shadow: inset 1px -10px 10px #f5f5f5;
  -o-box-shadow: inset 1px -10px 10px #f5f5f5;
  border-bottom-right-radius: 25px;
}

.closed-sidenav .nav-tabs .nav-link[aria-selected="true"][aria-posinset="2"] {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: -6px -20px 17px 0px #f5f5f5;
}

 .reminders .nav-tabs .nav-link[aria-selected="true"][aria-posinset="2"]{
  box-shadow: -20px -10px 34px -25px rgba(131,131,131,1);
  -webkit-box-shadow: -20px -10px 34px -25px rgba(131,131,131,1);
  -moz-box-shadow: -20px -10px 34px -25px rgba(131,131,131,1);
  -o-box-shadow: -20px -10px 34px -25px rgba(131,131,131,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.closed-sidenav .nav-tabs .nav-link[aria-selected="false"][aria-posinset="2"], 
.reminders .nav-tabs .nav-link[aria-selected="false"][aria-posinset="2"]{
  box-shadow: inset 7px -10px 10px #f5f5f5;
  -webkit-box-shadow: inset 7px -10px 10px #f5f5f5;
  -moz-box-shadow: inset 7px -10px 10px #f5f5f5;
  -o-box-shadow: inset 7px -10px 10px #f5f5f5;
  border-bottom-left-radius: 25px;
}
.nav-pills .nav-link.active, 
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #fff!important;
}
.reminders .nav-tabs .nav-item, 
.filter-content .tabs .nav-item {
  width:50%;
}

.reminders .nav-tabs .filter-content .tabs {
  text-align:center;
}
.outer-box-shadow {
-webkit-box-shadow: 0px 0px 32px -10px rgba(227,223,227,1);
-moz-box-shadow: 0px 0px 32px -10px rgba(227,223,227,1);
-o-box-shadow: 0px 0px 32px -10px rgba(227,223,227,1);
box-shadow: 0px 0px 32px -10px rgba(227,223,227,1);
border-radius: 25px;
}
.add-task {
  width: 25px;
  position: absolute;
  top: 19px;
  right: 5%;
}

.reminders .nav-link {
  font-size: 14px;
  padding: 20px 15px;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif !important;
  color: #1a1a1a !important;
}
.filter-content .custom-control-label::before, 
.filter-content .tab-content .custom-checkbox .custom-control-label::before{
  border-radius:50rem!important;
  border:1px solid #f79340;
  left: 4px;
}
.filter-content .tab-content .custom-checkbox .custom-control-label::after {
  left: 4px;
  background-image: none !important;
}

.notifications-checkbox .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after  {
  background-color: #ff933a !important;
}

.filter-content .custom-control-label::after {
  width: 10px;
  height: 10px;
}
.filter-content .custom-control-label::before {
  width: 10px;
  height: 10px;
}

/* Preferences table styling */
#preferences .card, #transactions .card{
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#preferences .tab-content, #transactions .tab-content {
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#preferences .card-header, #transactions .card-header {
  padding-left: 0;
  padding-right: 0;
  padding-bottom:11px;
  border: 0; 
  background-color: transparent;
}
#preferences .card-header-tabs, #transactions .card-header-tabs {
  margin-right: 0;
  margin-left: 0;
  /* margin-bottom: -32px; */
}
#preferences .nav-tabs .nav-link, 
#api-integration .nav-link,
#transactions .trans-tabs .nav-link{
  padding: 23px 23px 16px 30px;
}
#preferences .nav-tabs .nav-link, 
#api-integration .nav-link,
#transactions .trans-tabs .nav-link h5{
  font-weight: 700;
  font-size: 0.94vw;
  color: #999999;
}
#preferences .nav-tabs #__BVID__134___BV_tab_button__ {
  padding: 23px 30px 16px 30px;
}
#preferences .nav-tabs .nav-link.active, 
#api-integration .nav-link.active,
#transactions .nav-tabs .nav-link.active h5{
  color: #1A1C43;
}
#preferences .nav-tabs .nav-link[aria-selected="true"], 
#api-integration .nav-link[aria-selected="true"],
#transactions .nav-tabs .nav-link[aria-selected="true"]{
  box-shadow: -5px -8px 10px #f5f5f5, 5px -8px 10px #f5f5f5;
  -webkit-box-shadow: -5px -8px 10px #f5f5f5, 5px -8px 10px #f5f5f5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #fff;
}
.ant-switch-checked {
  background-color: #f79340!important;
}
#api-integration .card-header {
  padding-bottom:0;
}
#api-integration .card-header-pills {
  margin-left:0;
  margin-right: 0;
}
.divider-line { 
  height: 1px; 
  background-color: #cccccc; 
} 
#edit-module .nav-tabs,
#add-module .nav-tabs {
  border-bottom: 0;
}
#edit-module .ant-select-selection--single, 
#add-module .ant-select-selection--single{
  border: 0;
}
.ant-select-selection__rendered {
  line-height:1em!important;
}
#edit-module .ant-select-selection--multiple, 
#add-module .ant-select-selection--multiple{
  border:0;
}
#edit-module .ant-select-selection-selected-value, 
#add-module .ant-select-selection-selected-value{
  font-size: 0.63vw;
  color: #003449;
  font-family: 'Rubik', sans-serif;
}
#edit-module .ant-select-selection__placeholder, 
#add-module .ant-select-selection__placeholder{
  font-size: 0.63vw;
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  color: #999999;
}
#edit-module .ant-select-selection--single .ant-select-selection__rendered, 
#add-module .ant-select-selection--single .ant-select-selection__rendered,
#edit-module .ant-select-selection--multiple .ant-select-selection__rendered, 
#add-module .ant-select-selection--multiple .ant-select-selection__rendered{
  margin-left: 0;
}
#edit-module .ant-select-selection--multiple, 
#add-module .ant-select-selection--multiple{
  max-width:200px;
}
#edit-module .ant-select-selection__choice, 
#add-module .ant-select-selection__choice{
  background-color: #fff;
  border: 0;
  font-size: 0.63vw;
  color: #333333;
  font-family: 'Rubik', sans-serif;
}
#edit-module .ant-select-arrow,
#add-module .ant-select-arrow {
  top: 15%;
}
#edit-module .ant-select-selection__choice,
#add-module .ant-select-selection__choice {
  margin-top: 0;
}
.ant-select-dropdown{
  border-radius: 25px!important;
}
.ant-select-dropdown-menu {
  padding: 6.8% 6.5%!important;
}
.ant-select-dropdown-menu-item{
  font-size: 0.63vw;
  color: #999999;
  font-family: 'Rubik', sans-serif;
  padding-left:0!important;
  padding-right: 0!important;
}
.ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-selected{
  background-color: #fff;
  color: #333333;
}

/* workstation schedule callback */
.ant-calendar-picker-input.ant-input, .ant-time-picker-input {
  border-radius: 50rem!important;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 4px rgba(0,0,0,0.1);
  border: 0!important;
  font-family: 'Rubik', sans-serif !important;
}