.logo{
    margin: 2% 0% 2% 4%;
}
#top-landing-btn {
    color: #000;
    font-family: Cormorant;
    background: linear-gradient(to right, rgba(255,129,51,1) 0%,  rgba(255,147, 58,1) 100%) !important;
    border-radius: 5px;
    line-height: 1;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 1rem 1.5rem;
    margin: 0% 0% 0% 20%;
    border: none;
    box-shadow: 0px 0px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
  }
  
  #top-landing-btn:hover {
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -10px) scale(1);
    text-decoration: none;
  }
  
  .container {
        max-width: 100%;
    }
.left-side{
    height: 100vh;
    background-image: url('/images/Sign_In/Assests/Image_Edited.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 0px !important;
    max-width: 63.666667% !important;
}
.right-side{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.navbar .container {
    padding: 0;
}
#top-landing-logo {
    margin: 0;
    width: 30%;
}
.nav-item .nav-link{

}
#navbarSupportedContent{
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 6px;
}
#sign-in-watermark{
    width: 75%;
    margin: 28% auto 0 auto;
    display: block;
}
.auth-buttons .btn{
    width: 43%;
}
.btn{
    margin: 9px;
    border-radius: 5px !important;
}
.auth-buttons .col-lg-7{
    max-width: 374px;
    margin: 23% auto 45px auto;
    padding: 0;
}
.btn-primary {
    color: #fff;
    background: linear-gradient(to right, rgba(255,129,51,1) 0%,  rgba(255,147, 58,1) 100%) !important;
    border-color: transparent !important;
}
.btn-default {
    border: 2px solid rgba(0, 0, 0, 0.125)  !important;
}
#auth .card{
    border: none !important;
    box-shadow : none !important;
}
.sidebar a p{
    color: #fff !important;
}
.content-wrapper {
    background: #fff !important;
}

.close {
    position: absolute;
      right: -13px;
      top: -3px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
/* Transitions */
.bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  /* Transitions */

  /* Right SideBar */
  #search-panel, #calendar{
    padding: 1.8rem 2.0rem 1.4rem 1.7rem !important;
  }
  #search-panel .search div.search label{
    float:left;    
    color: #8d9198;
    margin: 4px 4px 0 0;
    padding: 0;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  #search-panel  .search div.search input{
    color: #8d9198;
    float: left;
    border: 1px solid #d9d9db;
    padding: 3px 20px 12px;
    border-radius: 25px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    margin-top: 3px;
    letter-spacing: 1px;
    font-size: 11px;
    box-shadow: 0px 1px 8px 0px #ced4da;
    -webkit-box-shadow:0px 1px 8px 0px #ced4da;
    -moz-box-shadow: 0px 1px 8px 0px #ced4da;
  }
  #search-panel p.heading{
    margin: 1px 0 19px;
    font-weight: 100;
    font-size: 11px;
  }
  #search-panel .form-control{    
    border-radius: 25px;
    padding: 7px;
    height: 28px !important;
    font-size: 9px;
  }
  #search-panel .tg{
    width:100%;
  }
  #search-panel .tg .tg-0las {    
    width: 55%;
    display: block;
  }
  #search-panel .tg .tg-0las p.heading {
    margin: 0 0 20px 0;
    color:#000;
  }
  #search-panel .tg .tg-0lax {
    width: 30%;
  }
  #search-panel .tg .tg-1lax {
    width: 50%;
  }
  #search-panel td.tg-0lax p.heading{
    border: none;
    margin: 0;
  }
  #search-panel td #title{
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-right: none;
  }
  /* End Right Sidebar */

.filter-card{
  margin-right: 15px;
  cursor: pointer;
}
.filter-card strong{
      margin-left: 29px;
}

  