@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.rubik {
  font-family: 'Rubik', sans-serif !important;
}
body {
  letter-spacing: 0.05em;
}
.hide {
  display:none !important;
}
.logo{
    margin: 2% 0% 2% 4%;
}
#top-landing-btn {
    color: #000;
    font-family: Cormorant;
    background: linear-gradient(to right, rgba(255,129,51,1) 0%,  rgba(255,147, 58,1) 100%) !important;
    border-radius: 5px;
    line-height: 1;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 1rem 1.5rem;
    margin: 0% 0% 0% 20%;
    border: none;
    box-shadow: 0px 0px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
  }
  
  #top-landing-btn:hover {
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -10px) scale(1);
    text-decoration: none;
  }
  
  .container {
      max-width: 100%;
    }
.left-side{
    background-image: url('/images/Sign_In/Assests/Left-Background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 900px !important;
    background-color: #F38912 !important;
}
.left-side img {
  max-width:70%;
  height:auto;
  position: absolute;
  top: 39%;
  left: 15%;
}
/* #top-landing-logo {
    width: 30%;
} */
.lp-logo {
  width: 217px !important;
}
.logo-title {
  color: #F38912;
  font-size: 77px;
}
#navbarSupportedContent{
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 6px;
}
#sign-in-watermark{
    width: 75%;
    margin: 28% auto 0 auto;
    display: block;
}
.btn{
    margin: 9px;
    border-radius: 5px !important;
}
.auth-buttons .col-lg-7{
    max-width: 374px;
}
.auth-buttons a{
  font-family: 'Cormorant', serif;
}
.btn-primary {
    color: #fff;
    background: linear-gradient(to right, rgba(255,129,51,1) 0%,  rgba(255,147, 58,1) 100%) !important;
    border-color: transparent !important;
}
.btn-default {
    border: 2px solid rgba(0, 0, 0, 0.125)  !important;
}
.submit-btn {
  border-radius: 12px !important;
  font-family: 'Lato light', sans-serif !important;
}
.outer-login-container {
  position: relative;
  height: 100% !important;
} 
.inner-login-container {
  position: absolute;
  top: 47%;
  -ms-transform: translateY(-50%);
  /* transform: translateY(-50%); */
  right: 0;
}
.mt-20 {
  margin-top: 0 !important;
}
@media screen and (min-width: 2000px) {
  .mt-20 {
    margin-top: 20% !important;
  }
}

@media screen and (max-width: 992px) {
.outer-login-container {
  height: 25% !important;
}
  .inner-login-container {
    top: 3% !important;
  }
}
#auth .card{
    border: none !important;
    box-shadow : none !important;
}
.sidebar a p{
    color: #fff !important;
}
.content-wrapper {
    background: #fff !important;
}

.close {
    position: absolute;
    right: -13px;
    top: -3px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: transparent;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
/* Transitions */
.bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  /* Transitions */

  /* Right SideBar */
  #search-panel .search div.search label{
    float:left;    
    color: #8d9198;
    margin: 4px 4px 0 0;
    padding: 0;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  #search-panel  .search div.search input{
    color: #8d9198;
    float: left;
    border: 1px solid #d9d9db;
    padding: 3px 20px 12px;
    border-radius: 25px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    margin-top: 3px;
    letter-spacing: 1px;
    font-size: 11px;
    box-shadow: 0px 1px 8px 0px #ced4da;
    -webkit-box-shadow:0px 1px 8px 0px #ced4da;
    -moz-box-shadow: 0px 1px 8px 0px #ced4da;
  }
  #search-panel p.heading{
    margin: 1px 0 19px;
    font-weight: 100;
    font-size: 11px;
  }
  #search-panel .form-control{    
    border-radius: 25px;
    padding: 7px;
    height: 28px !important;
    font-size: 9px;
  }
  #search-panel .tg{
    width:100%;
  }
  #search-panel .tg .tg-0las {    
    width: 55%;
    display: block;
  }
  #search-panel .tg .tg-0las p.heading {
    margin: 0 0 20px 0;
    color:#000;
  }
  #search-panel .tg .tg-0lax {
    width: 30%;
  }
  #search-panel .tg .tg-1lax {
    width: 50%;
  }
  #search-panel td.tg-0lax p.heading{
    border: none;
    margin: 0;
  }
  #search-panel td #title{
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-right: none;
  }
  /* End Right Sidebar */

.filter-card{
  margin-right: 15px;
  cursor: pointer;
}
.filter-card strong{
  margin-left: 29px;
}
/*auth nav styling*/
#auth .navbar-nav.ml-auto li a{
  font-weight: 300;
  color: rgba(1,52,73,0.5)!important;
}
/*end auth nav styling*/
/*auth buttons styling*/
.activeBtn{
  /* border-bottom: 1px solid #fff!important; */
  color: #F28821!important;
  font-size: 26px !important;
  font-family: 'Rubik', sans-serif !important;
  background-image: url('/images/Sign_In/Assests/White-space.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  left: 30%;
  height: 84px;
}
 .btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.inactiveBtn{
  color: #F2F2F2!important;
  font-size: 26px !important;
  font-family: 'Rubik', sans-serif !important;
  position: relative;
  left: 30%;
  height: 84px;
}
/*end auth buttons styling*/

/*login right sidebar*/
.right-side .col-10 .auth-buttons.login{
  margin-top:35%;
}
.login .btn-primary{
  font-family: 'Cormorant', serif;
    text-transform: uppercase;
}
.pwd-link {
  color: #F38912 !important;
  text-align: right !important;
  text-decoration: underline !important;
}
.copyright {
  font-family: 'Lato Light', sans-serif !important;
  color: #003B53 !important;
  font-size: 15px;
}
/* @media screen and (min-width: 1440px) {
  .right-side .col-10 .auth-buttons.login{
    margin-top:65%;
  }
} */
.right-side .col-10 .login, .right-side .col-10 .register{
  max-width:50%;
}
/*register right sidebar*/
.right-side .col-10 .auth-buttons.register{
  margin-top:10%;
}
@media screen and (min-width:1440px) {
  .right-side .col-10 .auth-buttons.register{
    margin-top:40%;
  }
}
/*Register stepper*/
.stepper-step p {
  margin-top: 0px;
  color:#666;
}
.stepper {
  display: table;
  max-width:300px;
  margin: 0 auto;
  width: 80%;
  position: relative;
}
.stepper-row {
  display: table-row;
}
.stepper-step button[disabled] {
  /*opacity: 1 !important;
  filter: alpha(opacity=100) !important;*/
}
.stepper .btn.disabled, .stepper .btn[disabled], .stepper fieldset[disabled] .btn {
  opacity:1 !important;
  color:rgba(250,138, 1,1);
}
.stepper-row:before {
  top: 12px;
  bottom: 0;
  position: absolute;
  content:" ";
  width: 100%;
  height: 1px;
  background-color: rgba(250,138, 1,1);
  z-index: 0;
}
.stepper-step {
  display: table-cell;
  position: relative;
}
.center {
  text-align: center;
}
.right {
  text-align: right !important;
}
.left {
  text-align: left !important
}
.stepper-step-center {
  text-align: center;
}
.stepper-step-right {
  text-align: right;
}
.stepper-step .btn-circle {
  width: 11px;
  height: 11px;
  text-align: center;
  padding: 4px 0;
  font-size: 11px;
  line-height: 1.428571429;
  border-radius: 15px!important;
  -webkit-appearance: inherit!important;
  color: #fff;
}
.stepper-step .btn-default {
  border:1px solid rgba(250,138,1,1)!important;
  background: #fff;
}
.setup-content input, .setup-content select, .setup-content textarea, .login input, .terms-text, ::placeholder {
  font-size:15px!important;
  font-weight: 400;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  color: #003B53 !important;
  letter-spacing: 1px !important;
}

.omni-shadow {
  box-shadow: 0px 1px 6px rgba(0,0,0,0.1)!important;
  border: 1px solid #eee!important;
}
.form-group {
  margin-bottom: 1.3rem!important;
}
.form-control {
  height: auto!important;
  padding: 0.75rem!important;
}
.nextBtn, .backBtn {
  margin-top: 10%;
  font-family: 'Cormorant', serif;
}

.terms {
  color: #F28821 !important;
  font-family: 'Lato', sans-serif !important;
  font-size:15px!important;
}
label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400 !important;
}
.custom-checkbox .custom-control-label::before {
  background-color: white !important;
  border-radius: 0px !important;
}

/*end Register Stepper*/
/*vc calendar styling*/
.vc-title-wrapper .vc-title {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  letter-spacing: 0.05em;
  color: rgba(28, 35, 49, 0.5);
}
.vc-svg-icon {
  color: rgba(28, 35, 49, 0.5);
}
.vc-day .vc-h-full {
  padding:0.5em;
}
.vc-weekday.vc-text-sm.vc-font-bold.vc-text-gray-500{
	color: #1e2331;
	font-size: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
.vc-day-content.vc-font-medium{
  font-family: Montserrat, sans-serif;
  color: #1e2331;
  font-size: 14px;
  font-weight:400;
}
.vc-rounded-full {
	border-radius: 50%!important;
}
.vc-highlight{
  width: 45px!important;
  height: 45px!important;
  border:2px solid #ff931e;
}
.vc-bg-blue-600 {
  background-color: #fff!important;
  border: 2px solid #ff931e !important;
  border-radius: 50% !important;
 
}

::-webkit-scrollbar {
  width: 6px;
  right: 5px;
}
::-webkit-scrollbar-track {
  background: #f0f0f1;
}
::-webkit-scrollbar-thumb {
  background: #002e3f; 
  border-radius:10px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}
@media (min-width: 992px) {
  .sidebar-mini.sidebar-collapse #content-wrapper.content-wrapper {
    margin-left: 63px!important;
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .main-footer,
  .sidebar-collapse .main-header {
    transition: margin-right 0.3s ease-in-out;
    margin-left: 63px!important; 
    margin-right: 209px;
  }
}

@media (min-width: 768px) {
  .content-wrapper,
  .main-footer,
  .main-header {
    transition: margin-right 0.3s ease-in-out;
    margin-left: 63px!important; 
    margin-right: 417px;
  }
}

.sidebar-collapse .main-sidebar .sidebar .sidebar-menu .closed-sidenav {
  transition: display 0.3s ease-in-out;
  max-width: 180px;
  display: block!important;
}
.sidebar-collapse .main-sidebar .sidebar .sidebar-menu .open-sidenav {
  transition: display 0.5s ease-in-out;
  display: none!important;
}
.closed-sidenav .nav-tabs, .reminders .nav-tabs{
  border-bottom: 0!important;
}
.closed-sidenav .nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border: 0!important;
}
.closed-sidenav .nav-tabs .nav-link {
  font-size: 18px;
}
.closed-sidenav .nav-tabs .nav-link[aria-selected="true"][aria-posinset="1"] {
  box-shadow: 10px -10px 10px #f5f5f5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.reminders .nav-tabs .nav-link[aria-selected="true"][aria-posinset="1"] {
  box-shadow: 20px -10px 34px -25px rgba(131,131,131,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.closed-sidenav .nav-tabs .nav-link[aria-selected="false"][aria-posinset="1"], .reminders .nav-tabs .nav-link[aria-selected="false"][aria-posinset="1"]{
  box-shadow: inset 1px -10px 10px #f5f5f5;
  border-bottom-right-radius: 25px;
}
.closed-sidenav .nav-tabs .nav-link[aria-selected="true"][aria-posinset="2"], .reminders .nav-tabs .nav-link[aria-selected="true"][aria-posinset="2"]{
  box-shadow: -20px -10px 34px -25px rgba(131,131,131,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.closed-sidenav .nav-tabs .nav-link[aria-selected="false"][aria-posinset="2"], .reminders .nav-tabs .nav-link[aria-selected="false"][aria-posinset="2"]{
  box-shadow: inset 7px -10px 10px #f5f5f5;
  border-bottom-left-radius: 25px;
}
.nav-pills .nav-link.active, .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #fff!important;
}
.reminders .nav-tabs .nav-item, .filter-content .tabs .nav-item {
  width:50%;
}

.reminders .nav-tabs .filter-content .tabs {
  text-align:center;
}
.outer-box-shadow {
-webkit-box-shadow: 0px 0px 32px -10px rgba(227,223,227,1);
-moz-box-shadow: 0px 0px 32px -10px rgba(227,223,227,1);
box-shadow: 0px 0px 32px -10px rgba(227,223,227,1);
border-radius: 25px;
}
.add-task {
  width: 25px;
  position: absolute;
  top: 19px;
  right: 5%;
}

.reminders .nav-link {
  font-size: 14px;
  padding: 20px 15px;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif !important;
  color: #1a1a1a !important;
}
.filter-content .tab-content .custom-checkbox .custom-control-label::before{
  border-radius:50rem!important;
  border:1px solid #f79340;
  left: 4px;
}
.filter-content .tab-content .custom-checkbox .custom-control-label::after {
  left: 4px;
}