// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//custom
@import 'components/landing_page.scss';
@import 'components/base';
@import 'components/sidebar';
@import 'components/dashboard';
.loging-bg img{
    width: 100%;
    padding: 30% 32% 20% 31%;
}
.loging-bg{
    background-image: url('/images/Sign_In/Assests/uhustle-login.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
}
