// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

//custom


@import 'components/landing_page.scss';

.loging-bg img{
    width: 100%;
    padding: 30% 32% 20% 31%;
}
.loging-bg{
    background-image: url('/images/Sign_In/Assests/uhustle-login.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
}
