// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//custom
@import 'components/base';
@import 'components/sidebar';
@import 'components/dashboard';
#app{
    background-color: #ffffff;
    font-family: Lato;
}
@media (min-width: 1200px){
.container {
    max-width: 100%;
}
}
.container{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #ffffff;
}
#top-landing{
    margin:0;
}
#top-landing-1 h1{
    font-size: 60px;
    margin: 3% 0% 5% 20%;
}
#top-landing-1 h2{
    font-size: 24px;
    margin: 0% 0% 0% 20%;
    font-weight: bold;
    }
    #top-landing-1 p{
        font-size: 15px;
        margin: 3% 0% 5% 20%
        }
#top-landing-logo{
    margin: 16% 0% 15% 20%;
    width: 18%;
}
#top-landing-1 {
    float:left;
}
  h1, h2 , p{
      color: #0b115c;
}

  #top-landing-btn{
  color: #ffffff;
  font-family:Cormorant;
  background-color: #fa8003;
  line-height: 1;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  margin: 0% 0% 0% 20%;
  border: none;
  box-shadow: 0px 0px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  }
  #top-landing-btn:hover{
    box-shadow: 0px 0px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.2);
  }
  #top-landing-2 ul li a{
      color:#ffffff;
  }
  #top-landing-2 ul li a:hover{
    color:#ffffff;
    transform: translate(0px, -10px) scale(1.2);
}
#top-landing-2{
    padding: 0;
    float:left;
    background-image: url('../img/Asset_14.png');
    background-repeat: no-repeat;
    background-size: 100% 92%;
  }
 #top-landing-image-phone{
    margin-top: 12%;
    margin-left: 20%;
    width: 80%;
}
  #top-landing-2 ul{
    float: right;
    border-bottom: #ffffff;
    margin-top: -5%;
    width: 47%;
  }
  #top-landing-menu{
    border-bottom: 2px #ffffff;
    margin-right: 10%;
    margin-top: 10%;
    height: auto;
  }
  #top-landing-menu ul li{
    display: inline;
    text-decoration: none;
    color: #ffffff;
    padding-right: 5%;
  }
  #top-landing-2 hr{
    border: 1px solid #ffff;
    margin: 0% -2% 0% 16%;
    opacity: 0.5;
  }
  #boxes{
      margin-top: 20%;
      background-image: url('../img/Asset 22.png');
      padding-bottom: 6%;
      background-size: 33%;
      background-repeat: no-repeat;
      margin-left: 9%;
      background-position-y: -59%;
      background-position-x: 22px;
  }
  #boxes .box {
    float: left;
    text-align: left;
    width: 23%;
    padding: 34px;
    border: none;
    margin-left: 3%;
    background: #ffffff;
    font-size: 13px;
    border-radius: 15px;
    //mix-blend-mode: soft-light;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
}
#box-edu{
    margin-left: 10% !important;
}
.box img{
    width:30%;
}
.box h3{
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: bold;
}
.box p{
line-height: 1.5;
font-size: 16px;
}
.box h2{
    float: right;
    font-size: 44px;
    color: #C43F3F;
    }
    #guide{
        width: 100%;
    }
    #guide{
        background-image: url('../img/Asset 24.png');
        background-size: 44%;
        background-repeat: no-repeat;
        margin-left: 9%;
        background-position-y: 35%;
        background-position-x: 74%;
    }

    #guide-left{
        background-image: url('../img/Asset 22.png');
        background-size: 65%;
        background-repeat: no-repeat;
        margin-left: 0%;
        background-position-y: -4%;
        background-position-x: 23px;
    }
    #guide-left-img{
        width: 183%;
    margin: -24% 0% 0% -29%;
    }

#guide-right p {
    margin: 40% 42% 0 1%;
    font-size: 13px;
}

#offer{
    width: 100%;
    background-image: url('../img/Asset 25.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#offer-heading{
    width: 100%;
    background-image: url('../img/Asset 22.png');
    background-size: 30%;
    background-repeat: no-repeat;
    /* margin-left: 10%; */
    background-position-y: 125%;
    background-position-x: 164px;
}
#offer-heading h1{
    font-size: 83px;
    padding-top: 10%;
    margin-left: 10%;
    font-weight: bold;
    opacity: .5;
}
#offer-heading h1 span{
    font-size: 154px;
    font-weight: bold;
}
#offer-details{
    margin-top: 10%;
    margin-left: 12%;
}
.offer-details-box{
    float:left;
    width: 30%;
}
.offer-details-box h3{
    margin-top: 10%;
    margin-bottom: 10%;
}
.offer-details-box-img{
    float:left;
}
.offer-details-box-inner{
    float: left;
    width: 65%;
}
.offer-details-box-inner ul{
    list-style-type: none;
}
#offer-details-box-inner-ul1 li{
    background-color:#179492;
    color:#ffffff;
}
#offer-details-box-inner-ul2 li{
    background-color:#CF5F5F;
    color:#ffffff;
}
#offer-details-box-inner-ul3 li{
    background-color:#fa8003;
    color:#ffffff;
}
.offer-details-box-inner ul li{
    border-radius: 15px;
    text-align: center;
    margin: 2% 2% 3% -16%;
    padding: 2%;
}
#take{
    //background-image: url('../img/Asset 33.png');
    background-size: 40%;
    background-repeat: no-repeat;
    /* width: 100%; */
    // background-position-y: -1961%;
    width: 100%;
}
#take-left{
    max-width: 39%;
    float: left;
    padding: 10%;
}
#take-right{
    //background-image: url('../img/Asset 35.png');
    background-size: 40%;
    background-repeat: no-repeat;
    /* width: 100%; */
    // background-position-y: -1961%;
    width: 54%;
    float: right;
}
#take-right-img{
    width: 168%;
    float: right;
}

#value{
    font-size: 60px;
    color: #ffffff;
    background-color: #fa8003;
    padding-left: 26%;
    width: 51%;
}


